li{
list-style: none;
}

#block-user {
    border: 1px solid black;
    width: 150px;
    height: auto;
    margin-left: 70%;
    margin-top: 5px;
    background-color: white;
    position: absolute;
    z-index: 10;
    -moz-box-shadow: 0 0 10px darkgrey;
    -webkit-box-shadow: 0 0 10px darkgrey;
    box-shadow: 0 0 10px darkgrey;
}
#block-user li{
    margin-top: 5px;
}
#block-user a{
    text-decoration: none;
    font: bold 14px sans-serif;
    border-bottom:  1px dashed;
}

#auth-user-info {
    margin-left: 70%;
}
#auth-user-info a{
    border: 1px solid black;
}

#delete-shop{
    background-color: darkgrey;
    cursor: pointer;
}
#change-shop{
    background-color: grey;
    cursor: pointer;
}
#hide-shop{
    background-color: darkgrey;
    cursor: pointer;
}